{{ template "header" . }}
<div class="container">
<form action="/update-user" method="POST">
    <div class="my-3">
        <p class="fs-2 my-3 fw-bold text-danger">ユーザー情報編集</p>
        <label for="user_name" class="form-label">新しいユーザー名</label>
        <input type="text" class="form-control" id="user_name" name="user_name" placeholder="新しいユーザー名を入力" value="{{.UserName}}">
        <label for="password" class="form-label">新しいパスワード</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="新しいパスワードを入力">
        <label for="confirm" class="form-label">新しいパスワード(確認用)</label>
        <input type="password" class="form-control" id="confirm" name="confirm" placeholder="同じパスワードをもう1度入力">
    </div>
    <button type="submit" class="btn btn-primary">更新</button>
</form>
</div>
{{ template "footer" }}
